---
import FormatDate from "~/components/react/Date/FormatDate";
import UserCard from "~/components/vue/UserCard/UserCard.vue";
import PostCard from "./PostCard";
name: 'Post'
const {username,iconPath,created_at,description,likes, replies}= Astro.props
---
<>
    <div class="flex flex-row">
        <div class="flex-auto">
            <UserCard username={username} iconPath={iconPath}/>
        </div>
        <FormatDate dateString={created_at}/>
    </div>
    <PostCard description={description} likes={likes} replies={replies}/>
</>